body {
    font-family: 'Nunito', sans-serif;
}

.job {
    max-width: 500px;
    margin: auto;
}

.errors {
    color: #ef4444;
}

h1 {
    color: #2a84c7;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #2a84c7;
    font-weight: 700;
}

form > div {
    margin-bottom: 20px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #2a84c7;
    outline: 0;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="file"] {
    border: 0;
    padding: 0;
    border-radius: 0;
    color: #2a84c7;
    cursor: pointer;
}

::-webkit-file-upload-button {
    background-color: #ebf8fe;
    border: 0;
    border-radius: 25px;
    padding: 10px 20px;
    transition: 0.25s;
    cursor: pointer;
}

input[type="file"]:hover::-webkit-file-upload-button {
    background-color: #2a84c7;
    color: #ebf8fe;
}

button {
    background-color: #ebf8fe;
    border: 0;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: bold;
    transition: 0.25s;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background-color: #2a84c7;
    color: #ebf8fe;
}

iframe {
    margin-top: 30px;
    width: 100%;
}
