body {
    background-color: azure;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.table {
    width: 20%;
}

@media (max-width: 1100px) {
    .table {
        width: 50%;
    }
}

@media (max-width: 700px) {
    .table {
        width: 100%;
        text-align: center;
    }
}
